* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Titillium Web;
  background: #f8fafc;
}

.logo {
  margin: 40px 432px 114px 112px;
}

.content {
  width: 384px;
  margin: 114px 208px 209px 112px;
}

.texts {
  width: 351px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.texts h1 {
  font-size: 36px;
  font-weight: 700;
  color: #1e293b;
}

.texts p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  gap: 16px;
}

.inputs .email input {
  display: flex;
  width: 384px;
  padding: 16px 12px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.inputs .email p {
  color: #1e293b;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
}

.inputs .password input {
  display: flex;
  width: 384px;
  padding: 16px 12px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 32px;
  border: 1px solid #e2e8f0;
}

.inputs .reset-password p:first-child {
  color: #1e293b;
  font-size: 14px;
  font-weight: 600;
}

.inputs .reset-password {
  display: flex;
  align-items: center;
  gap: 233px;
}

.inputs .reset-password p:last-child {
  color: #7c3aed;
  font-size: 14px;
  font-weight: 600;
}

.inputs input::placeholder {
  color: #94a3b8;
  align-items: center;
}

.inputs input:hover {
  border: 1px solid #7c3aed;
}

.inputs input:focus {
  outline: 1px solid #7c3aed;
}

.button button {
  width: 384px;
  padding: 16px 24px;
  background: #7c3aed;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  border-radius: 4px;
  border: none;
}
